body {
  padding-bottom: 20px;
  background-color: snow;
}

body #blogHeading {
  color: blue;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  font-family: cursive;
  display: inline-flex;
}

#blogHeading li {

  list-style: none;
}

#blogHeading a {

  text-decoration: none;
}

#blogSubHeading {

  color: saddlebrown;
  font-weight: bold;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}

#blogHeading nav ul {
  list-style: none;
  margin: 0;
  padding: 2px;
  text-align: center;
  /* background-color: lightsalmon; */
  margin-left: 20rem;


}

#blogHeading nav li {
  display: inline-block;
  margin-right: 50px;

}

#blogHeading nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

#blogHeading nav a:hover {
  background-color: aquamarine;

}

body #techNavBar ul {
  list-style: none;
  margin: 0;
  text-align: center;
  background-color: rgba(232, 237, 238, 0.568);

}

#techNavBar li {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 20px;

}

#techNavBar nav a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #2418d3;
  font-weight: bold;
  font-size: large;

}

